body {
    background-color: teal;
}

.recipe-image {
    border-radius: 10%;
}

.recipe-info {
    background-color:coral;
}

.ingredients {
    background-color: pink;
}

.prep-steps {
    background-color: orange;
}