body {
    background-image: url("../assets/images/gingham24mintgreen_shop_preview.png");
}
nav {
    background-color: darkcyan;
}

.row {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.add-rep-button {
    margin: 10px auto;
    margin-left: 30px;
}
.recipe-section {
    margin-left: 10px;
    margin-right: 10px;
}
.recipe-image {
    max-width: 96.5%;
    max-height: 100%;
    margin-left: 10px; 
    margin-right: 10px;  
    margin-top: 20px; 
}

.recipe-info {
    background-color:#80cbc4;
    margin-left: 10px;
    margin-right: 5px; 
    margin-top: 20px; 
    padding: 10px; 
  }

.times {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
}

.cat-skill {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    
}

.ingredients {
    background-color: #b2dfdb;
    margin-left: 10px;
    margin-right: 5px; 
    margin-top: 20px;
    padding: 10px;
  }


.prep-steps {
    background-color:#b2dfdb;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    padding: 10px;
}

.recipe-page .align {
    padding-bottom: 100%;
    margin-bottom: -100%;
}

.display-ad {
    background-color:#80cbc4;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;
}

.add-recipe {
    background-color:#b2dfdb;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
    padding: 10px;

}
.skill_option {
    /* text-align: center; */
    margin-left: 50px;
}