<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake It!</title>
</head>
<body>
    {% for recipe in recipes %}
        <p>Recipe Name: </p>
        {{recipe.recipe_name}}
        <p>Recipe Category:</p> 
        {% for cat in cat_list %}
            {% if cat['category_id'] == recipe.category_id %}
                {{cat['category_name']}}
            {% endif %}  
        {% endfor %} 
        <p>Skill Level:</p>
        {{recipe.skill_level}}
    {% endfor %}

</body>
</html>