<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bake It!</title>
</head>
<body>
    {% for recipe in recipes %}
    <div class="container">
    <img src="{{recipe.image}}" alt="recipe_img" width="128" height="128">
        <p>Recipe Name: {{recipe.recipe_name}}</p>
        <p>Recipe Category:
        {% for cat in cat_list %}
            {% if cat['category_id'] == recipe.category_id %}
                {{cat['category_name'].capitalize()}}
            {% endif %}  
        {% endfor %} </p> 
        <p>Skill Level: {{recipe.skill_level}}</p>
    </div>
    {% endfor %}

</body>
</html>