<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Bake It!</title>
</head>

<body>
    {% if logged_in: %}
    {% if admin: %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
                        <li><a href="{{url_for('admin_page', username = session['username'])}}">Admin</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
            <li><a href="{{url_for('admin_page', username = session['username'])}}">Admin</a></li>
        </ul>
    </header>
    {% else %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
        </ul>
    </header>
    {% endif %}

    {% else %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('log_in')}}">Log In</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('log_in')}}">Log In</a></li>
        </ul>

    </header>
    {% endif %}

    {% block content %}
    {% endblock %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>



    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });
    </script>

</body>

</html>