<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
    <title>Bake It!</title>
</head>

<body>
    <header>
        {% if logged_in: %}
        {% if admin: %}

        <nav>
            <div class="nav-wrapper">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
                        <li><a href="{{url_for('admin_page', username = session['username'])}}">Admin</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
            <li><a href="{{url_for('admin_page', username = session['username'])}}">Admin</a></li>
        </ul>

        {% else %}

        <nav>
            <div class="nav-wrapper teal">
                <div class="nav-wrapper teal">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a></li>
        </ul>

        {% endif %}

        {% else %}

        <nav>
            <div class="nav-wrapper">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">Bake it!</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
                        <li><a href="{{url_for('log_in')}}">Log In</a></li>
                    </ul>
                </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('get_recipes')}}">Recipes</a></li>
            <li><a href="{{url_for('log_in')}}">Log In</a></li>
        </ul>
        {% endif %}
    </header>
    <main>


        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer teal">

        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Bake It</h5>
                <p class="grey-text text-lighten-4">Find tried and tested recipes that have been shared by our members.
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://www.pyrexuk.com/collections/bakewareHome"
                            target="_blank">Pyrex Bakeware</a></li>


                </ul>
            </div>
        </div>
        </div>
        <div class="footer-copyright">

            © 2020 Copyright Text

        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });

    </script>
</body>

</html>