{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="bake-background">
        <h1 id="bake-it"> Bake It!</h1>
        <div class="intro">
            {%if logged_in%}
            <h3>Share it, find it, make it, Bake it!............</h3>
            {% else %}
            <p>Bake it is a site where you can find tried and tested recipes that have been shared by our members. You
                can also become a member and share your own Baking recipes.

                Share it, find it, make it, bake it!............... <a href="{{url_for('sign_up')}}"><strong>Become a
                        member</strong></a>

                We have teamed up with Pyrex. <a href="https://www.pyrexuk.com/collections/bakeware" target=”_blank”><strong>Pyrex</strong></a> are a long established cookware manufacture who's products are
                hard-wearing and can be found in most kitchens. 
            </p>
            {%endif%}
        </div>
        <div class="homepage-buttons">
            {% if logged_in %}
            {{message}}
            <div class="buttons">
                <a class="waves-effect waves-light btn-large index-buttons" href="{{url_for('get_recipes')}}">Let's
                    bake!</a>

                <a class="waves-effect waves-light btn-large index-buttons"
                    href="{{url_for('my_recipes', username = session['username'])}}">My Recipes</a>

            </div>
            {% else %}
            <div class="buttons">
                <a class="waves-effect waves-light btn-large" href="{{url_for('get_recipes')}}">Let's bake!</a>

                <a class="waves-effect waves-light btn-large" href="{{url_for('log_in')}}">Log in</a>

            </div>
            {% endif %}
        </div>
    </div>
</div>
<h3>Latest Recipes</h3>
<div class="row">
    {% for recipe in recently_added %}
    <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image">
                <img src="{{recipe.image}}">
                <span class="card-title"><strong>{{recipe.recipe_name}}</strong></span>
            </div>
            <div class="card-content">
                <p>Recipe Category:</strong>
                    {% for cat in cat_list %}
                    {% if cat['category_name'] == recipe.category_name %}
                    {{cat['category_name'].capitalize()}}
                    {% endif %}
                    {% endfor %}</strong> </p>
                <p>Skill Level:
                    {% if recipe.skill_level == 1 %}
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    {% elif recipe.skill_level == 2 %}
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    {% elif recipe.skill_level == 3 %}
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_unchecked</i>
                    {% elif recipe.skill_level == 4 %}
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    <i class="material-icons">radio_button_checked</i>
                    {% endif %}
                </p>
            </div>
            <div class="card-action">
                <a href="{{url_for('display_recipe', recipe_id=recipe._id)}}"><strong>Bake It!</strong></a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}